<html>
<head>
<title>libros</title>
<link REL="stylesheet" href="include/style.css" type="text/css">
</head>
<body style="background:white">
{literal}
<style> 
table {  border-collapse: collapse;} 
td { 
 padding: 5px; 
 margin: 0px; 
 border-width: 1px; 
 border-style: solid; 
 border-color: #000000; 
}
</style> 
{/literal}
{include_if_exists file="include/header.php"}
{doevent name="PrintOnLoad"}
	
	
<h1>libros</h1>
<table align='center' width='95%' border='0' cellpadding=3 cellspacing=2>


<tr>
<!--{if $column1show}-->
		<td><b>num_reg</b></td>
	<td><b>titulo</b></td>
	<td><b>autores</b></td>
	<td><b>editorial</b></td>
	<td><b>procedencia</b></td>
	<td><b>fec_publi</b></td>
	<td><b>edicion</b></td>
	<td><b>num_pag</b></td>
	<td><b>clasificacion</b></td>
	<td><b>tipo</b></td>
	<td><b>fec_ingreso</b></td>
	<td><b>observaciones</b></td>
<!--{/if}-->	
</tr>
{foreach from=$rowinfo item=row}
<tr valign=top>




<td>
{$row.1num_reg_value}
</td>
<td>
{$row.1titulo_value}
</td>
<td>
{$row.1autores_value}
</td>
<td>
{$row.1editorial_value}
</td>
<td>
{$row.1procedencia_value}
</td>
<td>
{$row.1fec_publi_value}
</td>
<td>
{$row.1edicion_value}
</td>
<td>
{$row.1num_pag_value}
</td>
<td>
{$row.1clasificacion_value}
</td>
<td>
{$row.1tipo_value}
</td>
<td>
{$row.1fec_ingreso_value}
</td>
<td>
{$row.1observaciones_value}
</td>

</tr>
{/foreach}
<!-- totals row -->
</table>
{include_if_exists file="include/footer.php"}
</body>

</html>